footer {
  padding: 2rem;
  background-color: #00004e;
  font-size: var(--body-font-size-s);
  color: #ffffff;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}
footer .pre-footer {
  max-width: 100%;
  margin: auto;
}
.prefooter{
text-align: center;
    font-size: 16px;
    color: #383838;
}
footer .footer p {
  margin: 0;
}
